<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golang • TodoMVC</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="shortcut icon" href="img/favicon.ico">
		<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input data-hx-post="/new-todo"
					   data-hx-target="body"
					   data-hx-indicator="#new-todo-indicator"
					   data-hx-disabled-elt="this"
					   data-hx-vals='{"Path": "{{.Path}}"}'
					   class="new-todo"
					   name="new-todo"
					   placeholder="What needs to be done?"
					   autocomplete="off"
					{{ if not .EditingItemId }} autofocus {{ end }} >
				<img class="htmx-indicator" id="new-todo-indicator" src="/img/bars-rotate-fade.svg" alt="">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<!-- The hx-vals annotation is like a hidden field that sends back the Path information with each request -->
			<section
				class="main"
				data-hx-vals='{"Path": "{{.Path}}"}'
				{{ if not .ItemsCount }} hidden {{end}}
			>
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">

				<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
				{{ $editingItemId := .EditingItemId }}
          		{{range $item := .Items}}
					<li id="li-{{$item.Id}}" class="{{ if $item.IsCompleted }} completed {{end}} {{if eq $editingItemId $item.Id}} editing {{ end }}">
						<div class="view">
							<input
								data-hx-post="/toggle"
								data-hx-target="body"
								data-hx-include="next [name='todoItemId']"
								class="toggle"
								type="checkbox"
								{{ if $item.IsCompleted }} checked {{ end }}
							>
							<label
								data-hx-get="/?edit={{$item.Id}}"
								data-hx-trigger="dblclick"
								data-hx-target="body"
								id="label-{{$item.Id}}"
							>{{$item.Title}}</label>
							<form action="">
								<input type="hidden" name="todoItemId" value="{{$item.Id}}">
								<button
									data-hx-post="/destroy"
									data-hx-target="body"
									class="destroy"
								></button>
							</form>
						</div>
						{{if eq $editingItemId $item.Id}}
						<!--
							keyCode 27: escape; abort edit
						 -->
						<form action=""
							  data-hx-get="/"
							  data-hx-trigger="keydown[keyCode==27]"
							  data-hx-target="body"
							  data-hx-params="none"
						>
							<input type="hidden" name="todoItemId" value="{{$item.Id}}">
							<input
								data-hx-post="/edit"
								data-hx-target="body"
								data-hx-params="*"
								class="edit"
								name="todoItemTitle"
								value="{{$item.Title}}"
								autofocus
								onfocus="this.select()"
								autocomplete="off"
							>
						</form>
						{{end}}
					</li>
          		{{end}}

				</ul>
			</section>
			<!-- This footer should be hidden by default and shown when there are todos -->
			<footer class="footer" {{ if not .ItemsCount }} hidden {{ end }}>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count">{{ .ItemsLeft }}</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters"
					data-hx-push-url="true"
					data-hx-target="body"
				>
					<li>
						<a 	href="/"
							data-hx-get="/"
							{{ if eq .Path "/" }} class="selected" {{ end }}
						>All</a>
					</li>
					<li>
						<a 	href="/active"
							data-hx-get="/active"
							{{ if eq .Path "/active" }} class="selected" {{ end }}
						>Active</a>
					</li>
					<li>
						<a
							href="/completed"
							data-hx-get="/completed"
							{{ if eq .Path "/completed" }} class="selected" {{ end }}
						>Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" {{ if .NoCompletedItems }} hidden {{end}}>Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="https://matteo.vaccari.name">Matteo Vaccari</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</body>
</html>
