<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golang • TodoMVC</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="shortcut icon" href="img/favicon.ico">
		<script src="js/app.js"></script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form action="new-todo" method="post">
					<input class="new-todo" name="new-todo" placeholder="What needs to be done?" autofocus onchange="this.form.submit()">
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main" {{ if not .Items }} hidden {{end}}>
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

          		{{range $item := .Items}}
					<li id="li-{{$item.Id}}" {{ if $item.IsDone }} class="completed" {{ end }}>
						<div class="view">
							<input class="toggle" type="checkbox" {{ if $item.IsDone }} checked {{ end }} onchange="invokeToggle({{$item.Id}})">
							<label id="label-{{$item.Id}}" ondblclick="startEdit({{$item.Id}})">{{$item.Title}}</label>
							<button class="destroy"></button>
						</div>
						<input id="edit-{{$item.Id}}" onblur="stopEdit({{$item.Id}})" class="edit" value="Rule the web">
					</li>
					<script> document.getElementById("edit-{{$item.Id}}").addEventListener("keydown", handleEditKeyDown) </script>
          		{{end}}

				</ul>
			</section>
			<!-- This footer should be hidden by default and shown when there are todos -->
			<footer class="footer" {{ if not .Items }} hidden {{ end }}>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{ .ItemsLeft }}</strong> items left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="https://matteo.vaccari.name">Matteo Vaccari</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

		<form id="toggleForm" action="/toggle" method="post">
			<input id="toggleFormField" name="todoItemId" type="hidden">
		</form>
		<form id="editForm" action="/edit" method="post">
			<input id="editFormItemId" name="todoItemId" type="hidden">
			<input id="editFormItemTitle" name="todoItemTitle" type="hidden">
		</form>
	</body>
</html>
